.table {
}

.header {
  display: flex;
  padding: .5rem 0;

  .cell {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.cell {
  flex: 1 1 200px;
}

.row-container {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
}

.row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
