<app-toolbar [title]="'100 Angular Challenge'">
  <ul class="nav navigation">
    <li class="navigation__link"><a routerLink="components">Components</a></li>
    <li class="navigation__link"><a routerLink="directives">Directives</a></li>
    <li class="navigation__link"><a routerLink="pipes">Pipes</a></li>
    <li class="navigation__link"><a routerLink="services">Services</a></li>
    <li class="navigation__link"><a>Other</a></li>
  </ul>
</app-toolbar>
<div class="card-wrapper">
  <router-outlet></router-outlet>
</div>

<app-top-page></app-top-page>
