<app-toolbar [title]="'100 Angular Challenge'">
  <ul class="nav navigation">
    <li class="navigation__link">Components</li>
    <li class="navigation__link">Directives</li>
    <li class="navigation__link">Pipes</li>
    <li class="navigation__link">Services</li>
    <li class="navigation__link">Other</li>
  </ul>
</app-toolbar>
<div class="card-wrapper">
  <app-card [iconClassName]="'timeline'" [title]="'Title'" [subtitle]="'Subtitle'">
    <div body>Body content</div>
    <div footer>Footer content</div>
  </app-card>
</div>
