@import "src/styles";

.accordion-container  {
  @include box-shadow();

  .accordion-item {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px;
  }

  .accordion {

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__title {

    }

    &__status {
      transition: transform .2s ease-in;
    }

    &__content {
      padding: 10px 0;
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}
// We can did the same effect with display: none => display: block
.expanded {
  height: min-content;
}

.collapsed {
  height: 0;
}
