<div class="accordion-container">
  <div class="accordion-item accordion" *ngFor="let item of items">
    <div class="accordion__header" (click)="toggle(item)">
      <p class="accordion__title">{{ item.title }}</p>
      <fa-icon class="accordion__status" [icon]="'chevron-down'" [ngClass]="{ 'rotate': item.isExpanded }"  [styles]="{ color: '#007acc' }"></fa-icon>
    </div>
    <div *ngIf="item.isExpanded" class="accordion__content" [ngClass]="item.isExpanded ? 'expanded' : 'collapsed'">
      {{ item.content }}
    </div>
  </div>
</div>
