body {
    background-color: #ffe2b0;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* text-align: center; */
}

.navigation-container {
    font-family: 'Roboto', sans-serif;
}

.links-list {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.link-item {
    list-style: none;
}

.link-item:last-child:hover {
    list-style: decimal;
    color: yellow;
}

.about-section {
    position: relative;
    background-color: red;
    height: 640px;
    background: url("../img/01-picture.jpg") center/cover no-repeat;
}


.inner-div {
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.special-order {
    position: absolute;
    top: 345px;
    left: 730px;
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
}

.tooltip-frame {
    box-sizing: border-box;
    margin: 15px;
    border: 1px solid #000;
    padding: 17px 28px 0 28px;
    height: 160px;
    width: 390px;
}

.tooltip-title {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    font-size: 36px;
    margin-bottom: 9px;
}

.tooltip-description {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}