.area {
  width: 250px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  height: 100px;
  width: 100px;
  padding: 2rem;
  background-color: #007acc;

}
