.message {
  display: inline-block;
  padding: .5rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;


}
