// colors
$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-main: #999;
$color-grey-the-dark: #2b2828;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:  #2998ff;
$color-tertiary-dark: #5641fa;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$grid-vertical-gap: 8rem;
$grid-horizontal-gap: 6rem;

// Breakpoints
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet lanscape
[1200 - 1800] is where our normal styles are aplied
1800px + : Big desktop
*/
$phone: 37.5em; // 600px
$tablet-portative: 56.25em; // 900px;
$tablet-landscape: 75em; // 1200px;
$big-desktop: 112.5em; // 1800px;

